/* body {
   background-color: rgb(37, 110, 37);
}

header {
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: x-large;
}

.container {
    display: flex;
    justify-content: space-between;
}

.square {
   height: 100px;
   width: 100px;
   border-style: double;
}
